*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
@media screen and (min-width: 768px){
    :root{
      --biggest-font-size: 4rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
    }
  }
  
  /*========== BASE ==========*/
  *,::before,::after{
    box-sizing: border-box;
  }
  
  html{
    scroll-behavior: smooth;
  }

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}


.navbar{
    width: 85%;
    color: rgb(18,24,59);
    margin: auto;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.logo{
    margin-left: -50px;
    width: 350px;
    height:200px;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    
}

.navbar ul li a{
    text-decoration: none;
    color: rgb(183, 183, 183);
    font-size: 28px;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background:rgb(2, 108, 150);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.6s;

}

.navbar ul li:hover::after{
    width: 100%;
}






.footer{
    background-color: rgb(18,24,59);
    padding: 20px 9%;
    text-transform: capitalize;
    transition: 0.2s linear;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.footer .box-container .box{
    flex:1 1 200px;

}


.footer .box-container .box h3{
   color:  rgb(2, 108, 150);
   font-size: 25px;
   padding: 10px 0;
   margin-left: 0px;
   
    
}
.footer .box-container .box a {
    display: block;
    color:rgb(183, 183, 183);
    font-size: 22px;
    padding: 10px 0;
    margin-left: 100px;
	text-decoration:none;
     
 }
 .footer .box-container .box a:hover {
    text-decoration: underline;
    color:#e84393;
   
 }

 .footer .credit{
    text-align: center;
    padding-left: 35%;
    margin-top: 15px;
    padding-top: 25px;
    font-size: 20px;
    color:  rgb(2, 108, 150);
    border-top: 1ps solid rgba(0,0,0,0.1);
}
@media only screen and (max-width: 300px) {
    header {
        flex-direction: row;
        text-align: center;
    }
}